<nav>Geo-Status</nav>

<div class="container" >
  <table class="table-container">
    <tbody>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
    </tbody>

    <div>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>

      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
    </div>

<div>
  <tr>
    <td>field</td>
    <td>field</td>
  </tr>
  <tr>
    <td>field</td>
    <td>field</td>
  </tr>
  <tr>
    <td>field</td>
    <td>field</td>
  </tr>
  <tr>
    <td>field</td>
    <td>field</td>
  </tr>
</div>

  </table>
</div>
