nav{
  text-align: center;
  padding: 20px;
  font-style: oblique;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 28px;
  color: rgb(249, 242, 242);
  font-weight: 900;
  font-size: xx-large;

  background: linear-gradient(to right, #275345, #28dbff, rgb(0, 68, 255),green,black);

}

.btn{
  align-items: center;
  padding: 1%;
  background-color: greenyellow;
  border-radius: 12%;
  margin: 20px;
}


.container {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.container:hover{
  background:linear-gradient(to right, #275345, #28dbff, rgb(0, 68, 255),green,black);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

table.table-container {
  width: 100%;
  border-collapse: collapse;
  background:linear-gradient(to right, #275345, #28dbff, rgb(0, 68, 255),green,black);
  box-shadow: 0 19px 19px 19px rgba(241, 249, 240, 0.417);
}

 table.table-container td {
  padding: 5px;
  text-align: center;
  border: 2px solid #ccc;


}
table.table-container td:hover {
  background:linear-gradient(to right, #275345, #28dbff, rgb(0, 68, 255),green,black);
  box-shadow: 0 19px 19px 19px rgba(241, 249, 240, 0.992);



}


table.table-container tr:nth-child(even) {
  background-color: #e3f5dc;
}




