<nav>
  Geo-Status</nav>

<div class="container" >
  <table class="table-container">
    <tbody>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
      <tr>
        <td>field</td>
        <td>field</td>
      </tr>
    </tbody>

  </table>
</div>
