nav{
  text-align: center;
  padding: 1%;
  font-style:oblique;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 15px;
  color: #00BFFF;
  font-weight: bold;

}
thead{
  display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
}


.container{
  // position: relative;
   width: 100%;
  // height: 0;
  // padding-top: 56.25%;
  // overflow: hidden;
  background-image: url('/back.jpg');
}


.table-container{
  display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the table horizontally */
    //background-color: rgba(73, 243, 6, 0); /* Set the background color of the table */
    border-collapse: collapse;

}

.table-container td {
  border: #00BFFF  5px solid ;
  background-color: black;
  color: white;
  width: 100px;
  text-align: center;
}

td{

}



